h1, h2, h3, h4 {
    font-family: 'robotothin', sans-serif;
}

.content-box {
    border-radius: 5px;
}

.accept-btn {
	background-color: #32b4e5;
	color: #ffffff;
	font-weight: normal;
	font-size: 1em;
	text-align: center;
	text-indent: 0;
	display: inline-block;
	height: 50px;
	width: 100%;
    border: none;
    border-radius: 5px;
    font-family:'robotothin';
    cursor: pointer;
}
.accept-btn:hover {
	background-color: #6298BE;
}
.accept-btn:active {
	position: relative;
	top: 1px;
}